@import "reset";
body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    color: #1a2732;
    position: relative;
}

%center-block {
    max-width: 1280px;
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #1a2732;
    padding: 20px 0;
    box-shadow: 0 2px 45px 1px #1a2732;
    .center-block {
        @extend %center-block;
        position: relative;
    }
    .logo {
        position: absolute;
        width: 200px;
        bottom: 0;
        left: 0;
        transform: translateY(56%);
    }
    .registration_h {
        font-weight: 300;
        color: #D4B268;
        text-transform: uppercase;
        font-size: 20px;
        float: right;
        span {
            color: #00a0df;
        }
    }
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
    .navigation {
        position: fixed;
        top: 65px;
        left: 0;
        width: 250px;
        height: 100%;
        background: #394A59;
        ul {
            width: 100%;
            height: 100%;
            li {
                list-style: none;
                a {
                    display: block;
                    color: #d0d8df;
                    text-decoration: none;
                    padding: 15px 15px 15px 35px;
                    background: #394A59;
                    border-bottom: 1px solid #D7D7D7;
                    &:hover {
                        background: #2E3B46;
                        color: #fff;
                    }
                    &.active {
                        background: #2E3B46;
                        color: #fff;
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            width: 10px;
                            height: 10px;
                            border: 2px solid #fff;
                            border-left-color: transparent;
                            border-top-color: transparent;
                            transform: rotate(-45deg) translateY(-50%);
                        }
                    }
                }
            }
        }
    }
    .content {
        margin-top: 100px;
        max-width: calc(100% - 470px);
        margin-left: 300px;
        padding: 30px 20px;
        border: 3px solid #D4B268;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        .generate-btn {
            padding: 10px 15px;
            background-color: #007aff;
            border: 2px solid #007aff;
            color: #fff;
            border-radius: 2px;
            margin-bottom: 20px;
            &:hover {
                background: #fff;
                color: #007aff;
            }
        }
        .generate-keys {
            position: relative;
            min-width: 300px;
            min-height: 42px;
            box-sizing: border-box;
            font-weight: 700;
            padding: 11.5px;
            background: lightgrey;
            border-radius: 2px;
            &::after {
                content: "Ключ:";
                position: absolute;
                top: 0%;
                left: -80px;
                height: 42px;
                box-sizing: border-box;
                font-weight: 700;
                padding: 11.5px;
            }
        }
        .description {
            margin-top: 40px;
            width: 100%;
            &-btn {
                float: right;
                cursor: pointer;
                position: relative;
                display: inline-block;
                color: #007aff;
                padding: 1px;
                padding-right: 30px;
                &::after {
                    content: "?";
                    position: absolute;
                    top: 0%;
                    right: 0%;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    border-radius: 50%;
                    border: 1.5px solid #007aff;
                }
                &:hover {
                    color: #1a2732;
                    text-decoration: underline;
                    &::after {
                        border-color: #1a2732;
                    }
                }
            }
            .information {
                padding: 30px 0;
                clear: both;
                width: 90%;
                margin: 0 auto;
                p {
                    margin-bottom: 25px;
                }
                span {
                    color: #00a0df;
                    font-weight: 700;
                    margin-right: 10px;
                }
            }
        }
    }
}

.footer {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: #E1E1E1;
    text-align: center;
    padding: 40px;
}
