@import "reset";
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    color: #1a2732;
    position: relative;
}

%center-block {
    max-width: 1280px;
    width: 75%;
    margin: 0 auto;
}

.header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #1a2732;
    padding: 20px 0;
    box-shadow: 0 2px 45px 1px #1a2732;
    .center-block {
        @extend %center-block;
        position: relative;
    }
    .logo {
        position: absolute;
        width: 200px;
        bottom: 0;
        left: 0;
        transform: translateY(56%);
    }
    .test_h {
        font-weight: 300;
        color: #D4B268;
        text-transform: uppercase;
        font-size: 1.25em;
        text-align: center;
        span {
            color: #00a0df;
            &.work {
                color: #D4B268;
            }
        }
    }
    .timer {
        color: #1a2732;
        position: absolute;
        top: 50px;
        right: 0px;
        font-size: 2.5em;
        font-weight: 700;
    }
    .completion_test {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        padding: 7px 15px;
        border: 3px solid #fff;
        background: #1A2732;
        outline: none;
        font-size: 1.25em;
        color: #fff;
        transition: background 0.5s;
        cursor: pointer;
        &:hover {
            background: #08854D;
            box-shadow: 0px 0px 4px 3px #08854D;
            &::before {
                content: "Ви впевнені?";
                font-size: 0.75em;
                padding: 3px 5px;
                line-height: 30px;
                position: absolute;
                height: 30px;
                border-radius: 3px;
                background: #fff;
                color: #1a2732;
                top: 50%;
                right: 0;
                transform: translate(120%, -60%);
            }
            &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border: 15px solid #fff;
                font-weight: 700;
                border-bottom-width: 10px;
                border-top-width: 10px;
                border-left: 0;
                border-top-color: transparent;
                border-bottom-color: transparent;
                top: 50%;
                right: 0;
                transform: translate(30px, 8%) rotate(-45deg);
            }
        }
    }
}

.main {
    margin: 150px 0;
    .center-block {
        @extend %center-block;
    }
    .test {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .testing__name {
            margin-bottom: 20px;
            width: 100%;
            .name-worker {
                font-weight: 700;
            }
        }
        .choice_tests {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: flex-start;
            padding: 10px;
            width: 250px;
            border: 3px solid #1a2732;
            label {
                position: relative;
                text-align: center;
                padding: 12px 0;
                width: calc(20% - 8px);
                margin: 0 10px 10px 0;
                background: #00a0df;
                color: #FFF;
                transition: background 0.5s;
                &::after {
                    position: absolute;
                    content: "";
                    box-sizing: border-box;
                    width: 80%;
                    height: 80%;
                    border: 2px solid #fff;
                    top: 10%;
                    left: 10%;
                }
                &:nth-child(5n) {
                    margin-right: 0;
                }
                &.green_btn {
                    background: #08854D;
                }
                &.active-btn {
                    background: #1a2732;
                }
                &:hover {
                    background: #1a2732;
                }
                &.active {
                    background: #1a2732;
                }
            }
        }
        .test-shoved {
            position: relative;
            width: calc(100% - 300px);
            border: 3px solid #D4B268;
            .question {
                width: 80%;
                margin: 40px auto;
                display: none;
                &:first-child {
                    display: block;
                }
                img {
                    max-width: 100%;
                    margin: 0 auto;
                }
                .question__title {
                    background: #fff;
                    position: absolute;
                    top: -10px;
                    right: 0;
                    padding: 0 20px;
                    color: #00a0df;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                input[type="radio"] {
                    display: none;
                }
                .test__question {
                    margin-bottom: 20px;
                    font-size: 1.125em;
                    font-weight: 700;
                }
                .ansver {
                    box-sizing: border-box;
                    display: block;
                    position: relative;
                    padding-left: 10px;
                    text-align: left;
                    width: 100%;
                    margin-top: 40px;
                    vertical-align: middle;
                    line-height: 25px;
                    margin-bottom: 40px;
                    &:hover {
                        background: #e1e1e1;
                    }
                    .ansver_checked {
                        position: absolute;
                        left: -30px;
                        top: 0;
                        width: 25px;
                        height: 25px;
                        will-change: transform;
                        border: 2px solid lightgrey;
                        transition: all 0.5s;
                    }
                }
                input[type="radio"]:checked+.ansver_checked {
                    transform: rotate(-55deg);
                    content: "";
                    width: 25px;
                    height: 15px;
                    border: 3px solid #00a0df;
                    border-right: transparent;
                    border-top: transparent;
                }
            }
        }
    }
    .result {
        display: none;
        border: 3px solid #D4B268;
        position: relative;
        &__title {
            background: #fff;
            position: absolute;
            top: -10px;
            right: 0;
            padding: 0 20px;
            color: #00a0df;
            text-transform: uppercase;
            font-weight: 700;
        }
        &__test {
            width: 80%;
            margin: 40px auto;
            .result__name {
                margin-bottom: 40px;
                .name-worker {
                    font-weight: 700;
                }
            }
            .result__discription-test {
                span {
                    font-weight: 700;
                }
            }
        }
    }
}


/*progress-test*/

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);
.progress-test {
    margin: 40px auto;
    background-color: #DFE8ED;
    width: 160px;
    height: 160px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: relative;
}

.clip1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    clip: rect(0px, 160px, 160px, 80px);
}

.slice1 {
    position: absolute;
    width: 160px;
    height: 160px;
    clip: rect(0px, 80px, 160px, 0px);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #30BAE7;
    border-color: #30BAE7;
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.clip2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    clip: rect(0, 80px, 160px, 0px);
}

.slice2 {
    position: absolute;
    width: 160px;
    height: 160px;
    /*<- вот здесь была ошибка*/
    clip: rect(0px, 160px, 160px, 80px);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #30BAE7;
    border-color: #30BAE7;
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.status {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 134px;
    height: 93px;
    padding-top: 41px;
    border-radius: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #3C4761;
    line-height: 50px;
    background: #fff;
    font-weight: 300;
}

.footer {
    margin-top: 235px;
    transition: all 0.2s;
    background: #E1E1E1;
    text-align: center;
    padding: 40px;
}

@media screen and (max-width:840px) {
    body {
        font-size: 14px;
    }
    %center-block {
        max-width: 1280px;
        width: 90%;
        margin: 0 auto;
        position: relative;
    }
    .header {
        padding-bottom: 40px;
        .logo {
            width: 150px;
            left: 50%;
            transform: translate(-50%, 80.5%);
        }
        .registration_h {
            float: none;
            text-align: center;
        }
        .completion_test {
            top: 80px;
            left: 0;
            transform: translate(0);
            border-color: #1a2732;
            &:hover {
                border-color: #fff;
                &::after {
                    border-right-color: #1a2732;
                }
                &:before {
                    background: #1a2732;
                    color: #fff;
                }
            }
        }
        .timer {
            color: #08854D;
            top: 80px;
        }
    }
    .main {
        .test {
            .choice_tests {
                width: 100%;
                margin-bottom: 40px;
                label {
                    width: 35px;
                    &:nth-child(5n) {
                        margin-right: 10px;
                    }
                }
            }
            .test-shoved {
                width: 100%;
            }
        }
    }
}

@media screen and ( max-width: 400px) {
    .header {
        .completion_test {
            
            top: 120px;
            left: 50%;
            width: 75%;
            transform: translatex(-50%);
            padding: 4px 10px;
            &::after {
                display: none;
            }
            &::before {
                display: none;
            }
        }
        .timer {
            top: 75px;
            right: 50%;
            transform: translatex(50%);
        }
    }
    .main {
        margin-top: 220px;
        .test {
            .name-worker{
                display: block;
            }
            .question__title {
                width: 40%;
                text-align: center;
                padding: 0 2px;
                left: 50%;
                transform: translatex(-50%);
            }
            .test-shoved {
                .question {
                    width: 90%;
                    .ansver {
                        padding-left: 10px;
                        text-align: left;
                        width: calc(100% - 30px);
                        margin-top: 40px;
                        margin-left: 30px;
                        margin-bottom: 40px;
                    }
                }
            }
        }
        .result__title {
            width: 40%;
            text-align: center;
            padding: 0 10px;
            left: 50%;
            transform: translatex(-50%);
        }
        .result__test{
            width:90%;
        }
    }
}
